html {
  font-size: 10px;
  font-family: "IBM Plex Sans", sans-serif; 
  background-color: #EDFD3F;
}

h1 {
  font-size: 60px;
  margin: 0;
  color: #00539F;
  text-shadow: 3px 3px 1px #EDFD3F;
  text-align: center;
}

body {
  font-size: 25px;
  line-height: 2;
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 10px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}
